vendor/
composer.lock
.env
**/storage/*.sqlite
**/storage/*.sqlite-*
**/storage/*.db
**/storage/alerts.log
**/storage/sfn-config.json
*.log
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
